.home-why-container{
    width: 100%;
    text-align: center;
}

.home-why-card{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px rgb(224, 224, 224);
    border-radius: 20px;
    margin-inline: 5%;
    padding: 10px;
    padding-inline:3%;
    text-align: center;
}

.home-why-card p{ 
    font-weight: bold;
    font-size: 20px;
}

.home-section-card{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: -5px -3px 10px rgb(62, 62, 62);
    width: 60%;
    height: fit-content;
    margin-inline: 20%;
    margin-bottom: 5%;
}

.home-button{
    background-image: linear-gradient(rgb(255, 179, 0) 30%,rgb(253, 201, 79));
    box-shadow: 0px 5px 10px rgb(168, 168, 168); 
    color: rgb(134, 0, 0);
    border: none;
    height: 50px;
    margin-top:30px;
    margin-inline: 20%;
    font-size: 22px;
    font-weight: bold
}

.home-button:hover{
    
    background-image: none;
    position: relative;
    left: 10px;
    bottom: 10px;
    
}

.home-card{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-inline: 1%;
    color: gold;
}

.home-card h1{
    text-align: center;
    font-size: 32px;
    padding-inline: 10%;
    width: 30%;
    color: rgb(251, 200, 139);
}

.home-card h2{
    color: white;
    align-items: center;
    padding-inline: 1%;
    width: 100%;
}

.home-card h2::before{
    content: "| ";
    font-size: 40px;
    color: gold;
}

.obj-card{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 200px;
    border-radius: 100px;
    position: relative;
    left: 8%;
    align-self: center;
}

.obj-card-details{
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: rgb(43, 43, 43);
    padding-inline: 10%;
    position: relative;
    left: -5%;
    border-radius: 0px 20px 20px 0px;
    box-shadow:5px 10px 5px rgb(0, 0, 0);
}

.obj-card img{
    width: 20%;
    border-radius: 100px;
    border: 8px solid rgb(255, 191, 0);
    box-shadow:-5px 5px 5px rgb(0, 0, 0);
    z-index: 1;
}

.obj-card-title{
    color: gold;
    text-align: center;
}

.obj-card-desc{
    color: rgb(255, 253, 199);
    padding-inline: 10%;
}

.obj-card button{
    background-color: rgb(0, 136, 255);
    border: none;
    color: white;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    position: relative;
    left: 10%;
    align-self: center;
}

.section-heading-alt{
    align-content: center;
    margin-left: 10%;
    background-image: linear-gradient(rgb(255, 179, 0) 30%,rgb(253, 201, 79));
    color: rgb(95, 0, 0);
    padding-inline: 3%;
    border-radius: 100%;
    font-size: 28px;
    box-shadow: 0px 0px 10px;
    width: 15%;
    height: 300px;
    margin-top: 30px;
}

.home-section{
    background-color: rgb(60, 61, 55);
    padding-block: 80px;
    border-top: 5px dashed goldenrod;
    margin: 0px;
}