.pagination-container{
    text-align: center;
    margin: 0px;
    padding-block: 20px;
}

.active-pagination-button, .pagination-button{
    cursor: pointer;
    height: 15px;
    width: 100%;
    margin-inline: 5%;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 1px solid rgb(110, 110, 110);
}

.active-pagination-button,.pagination-button:hover{
    background-color: rgb(255, 255, 255);
}

.carousel-img-container{
   display: flex;
   flex-direction: row;
}

.carousel-img{
    height: 550px;
    width: 100%;
    border: 5px solid rgb(255, 217, 0);
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(129, 129, 129);
    margin-inline: 10%;
}

.carousel-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(rgb(24, 28, 20,0.9),rgb(60, 61, 55));
    padding-bottom: 50px;
}

.carousel-container h2{

    color: rgb(244, 224, 134);
    margin-inline: 20%;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: 40px;
    padding-inline: 1.5%;
    background-color: gold;
    color: rgb(27, 27, 27);
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    user-select: none;
    box-shadow: 0px 0px 10px rgb(255, 183, 0);
}

.prev{
    left: 2%;
    border-radius: 3px 0 0 3px;
    
}

.next {
    right: 2%;
    border-radius: 0 3px 3px 0;
}

.pagination-button-group{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 30%;
    background-color: rgb(255, 208, 0);
    width: 30%;
    align-content: center;
    align-items: center;
    padding-block: 15px;
    padding-inline: 5%;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgb(38, 38, 38);
}

.carousel-container h3{
    color: gold;
    font-style: italic;
  }
  